@model SignUpViewModel
@{
  ViewData["Title"] = "Academy registration";
}

<header class="p-4 form-header mb-5 container">
  <h1 class="form-title">BullWorth Academy Signup</h1>
  <p>Fill out the form carefully for registration</p>
</header>

<div class="row g-0">
  <div class="col-6 offset-3">

    <form asp-controller="User" asp-action="SignUp" method="post">

      <fieldset class="form-field form-field-gray mb-3">

        <div class="container g-4">

          <legend class="form-legend text-blue">User Account Informations</legend>

          <div class="row">

            <div class="col-4 mb-2">
              <label class="form-label" asp-for="Login">Login</label>
              <input class="form-control" asp-for="Login">
              @Html.ValidationMessageFor(m => m.Login)
            </div>

            <div class="col-8 mb-2">
              <label class="form-label" asp-for="Email">Email</label>
              <input class="form-control" asp-for="Email">
              @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="col-6 mb-2">
              <label class="form-label" asp-for="Password">Password</label>
              <input class="form-control" asp-for="Password">
              @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="col-6 mb-2">
              <label class="form-label" asp-for="PasswordConfirm">Password Confirmation</label>
              <input class="form-control" asp-for="PasswordConfirm">
              @Html.ValidationMessageFor(m => m.PasswordConfirm)
            </div>

          </div>

        </div>

      </fieldset>

      <fieldset class="form-field form-field-gray mb-3">

        <div class="container g-4">

          <legend class="form-legend text-blue">Personal Informations</legend>

          <div class="row">

            <div class="col-6 mb-2">
              <label class="form-label" asp-for="FirstName">First Name</label>
              <input class="form-control" asp-for="FirstName">
              @Html.ValidationMessageFor(m => m.FirstName)
            </div>

            <div class="col-6 mb-2">
              <label class="form-label" asp-for="LastName">Last Name</label>
              <input class="form-control" asp-for="LastName">
              @Html.ValidationMessageFor(m => m.LastName)
            </div>

            <div class="col-5 mb-2">
              <label class="form-label" asp-for="Birthdate">Birthdate</label>
              <input class="form-control" asp-for="Birthdate">
              @Html.ValidationMessageFor(m => m.Birthdate)
            </div>

          </div>
        </div>

      </fieldset>

      <fieldset class="form-field form-field-gray mb-3">

        <div class="container g-4">

          <legend class="form-legend text-blue">Role Select</legend>

          <div class="col-12 mb-2">

            <div class="form-check">
              <input type="radio" class="form-check-input" asp-for="Role" value="Student">
              <label class="form-check-label" asp-for="Role">Student</label>
            </div>

            <div class="form-check">
              <input type="radio" class="form-check-input" asp-for="Role" value="Teacher">
              <label class="form-check-label" asp-for="Role">Teacher</label>
            </div>

            @Html.ValidationMessageFor(m => m.Role)
          </div>
        </div>

      </fieldset>

      <div class="d-grid py-5">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>

    </form>

  </div>
</div>